services:
  recordgo-server:
    image: tabortoa/recordgo-server:0.2.0
    container_name: recordgo-server
    ports:
      - "38048:8080"
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DB_PATH: ${DB_PATH}
      STORAGE_ROOT: ${STORAGE_ROOT}
      PORT: ${PORT}
      GIN_MODE: ${GIN_MODE}
      ALLOW_ORIGINS: ${ALLOW_ORIGINS}
      JWT_EXPIRE_DAYS: ${JWT_EXPIRE_DAYS}

      STORAGE_DRIVER: ${STORAGE_DRIVER}
      MAX_UPLOAD_SIZE_MB: ${MAX_UPLOAD_SIZE_MB}
      ALLOW_MIME: ${ALLOW_MIME}

      S3_PROVIDER: ${S3_PROVIDER}
      S3_ENDPOINT: ${S3_ENDPOINT}
      S3_REGION: ${S3_REGION}
      S3_BUCKET: ${S3_BUCKET}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_FORCE_PATH_STYLE: ${S3_FORCE_PATH_STYLE}
      S3_PUBLIC_BASE_URL: ${S3_PUBLIC_BASE_URL}
      S3_KEY_PREFIX: ${S3_KEY_PREFIX}
      S3_PRESIGN_EXPIRE: ${S3_PRESIGN_EXPIRE}
    volumes:
      - ./storage:/app/storage
    restart: unless-stopped